/* --- SÉLECTEUR DE NIVEAUX --- */
.level-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-level {
  padding: 18px;
  border-radius: 15px;
  font-weight: 900;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.facile { background: #4ade80; color: #064e3b; }
.moyen { background: #facc15; color: #713f12; }
.difficile { background: #f87171; color: #7f1d1d; }

/* --- LOGIQUE DU TIMER (BARRE DE PROGRESSION) --- */
/* Timer */
.timer-bar-bg { 
  width: 100%; 
  height: 12px; 
  background: rgba(0, 0, 0, 0.3); /* Fond sombre pour faire ressortir la barre */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.timer-bar-fill { 
  height: 100%; 
  background: #4ade80 !important; /* Vert fluo */
  box-shadow: 0 0 10px #4ade80;
  transition: width 1s linear; 
}

.timer-bar-fill.danger { 
  background: #ff6b6b !important; /* Rouge vif */
  box-shadow: 0 0 10px #ff6b6b;
}

/* --- BOUTONS D'ACTION DU JEU --- */
/* --- BOUTONS DE RÉPONSES --- */
.answer-btn {
  background: rgba(74, 222, 128, 0.1) !important; /* Fond vert très léger */
  border: 2px solid #4ade80 !important;
  color: #4ade80 !important;
  box-shadow: 0 0 10px rgba(74, 222, 128, 0.2);
}

.answer-btn:hover {
  background: #4ade80 !important;
  color: #000 !important;
  box-shadow: 0 0 20px rgba(74, 222, 128, 0.6) !important;
}

/* Style différent pour le bouton QUITTER (Rouge) */
.answer-btn-exit {
  background: transparent !important;
  border: 2px solid #f87171 !important;
  color: #f87171 !important;
}

.answer-btn-exit:hover {
  background: #f87171 !important;
  color: white !important;
  box-shadow: 0 0 20px rgba(248, 113, 113, 0.4) !important;
}

/* --- ÉLÉMENTS DE TEXTE DU JEU --- */
/* --- TITRE DE FIN --- */
.card .main-title {
  color: #4ade80 !important; 
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  margin-bottom: 15px;
}

/* --- TEXTE DE LA QUESTION --- */
.question-text {
  color: #ebdcdc !important; 
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* --- AFFICHAGE DU SCORE --- */
.card .subtitle {
  color: #e34cf7 !important;
  font-size: 1.2rem;
  margin-top: 10px;
}

/* --- AFFICHAGE QUESTION PROGRESS --- */
.question-progress {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #f8e7e7;
  background:#f87171;
  padding: 5px 15px;
  border-radius: 20px;
  width: fit-content;
  margin: 0 auto 15px auto;
  border: 4px solid rgba(0, 0, 0, 0.1);
}

.question-progress span {
  color:rgba(66, 54, 54, 0.966);
}